{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}

    {% set post = wordpress.call('Timber::get_post') %}
    {% set user = function ('get_userdata',post.post_author) %}    
    {% set user_data = function ('get_user_meta',post.post_author) %}
    {% set current_user = function ('wp_get_current_user') %}
    {% set current_user_data = function ('get_user_meta',current_user.data.ID) %}

    {#  Carga de JS  #}
    {% assets in 'head' with { priority: 10 } %}
    <script type="text/javascript">
        
        $ = jQuery;
        $(function () {
            $(document).ready(function ($) {
                //Seguir a un chef
                $(document).on('click', "#follow_chef", function () {
                    var url = window.location.origin + '/wp-content/themes/chefSociety/extension.php';
                    var user_following = {{current_user.data.ID}};
                    var user_to_follow = {{post.post_author}};

                    xhr = new XMLHttpRequest();
                    xhr.open("POST", url, true);
                    var params ="user_following="+user_following+"&user_to_follow="+user_to_follow+"&action=follow";

                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

{#                    xhr.onprogress = function(e){
                        var data = jQuery.parseJSON(e.currentTarget.responseText);
                        $('#follow_response').fadeIn('slow')
                        $('#follow_response').html(data.message);
                    };#}
                    xhr.send(params);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                               location.reload();                        
                        }
                    };
                });
                //Dejar de seguir a un chef
                $(document).on('click', "#unfollow_chef", function () {
                    var url = window.location.origin + '/wp-content/themes/chefSociety/extension.php';
                    var user_following = {{current_user.data.ID}};
                    var user_to_unfollow = {{post.post_author}};

                    xhr = new XMLHttpRequest();
                    xhr.open("POST", url, true);
                    var params ="user_following="+user_following+"&user_to_unfollow="+user_to_unfollow+"&action=unfollow";

                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

{#                    xhr.onprogress = function(e){
                        var data = jQuery.parseJSON(e.currentTarget.responseText);
                        $('#follow_response').fadeIn('slow')
                        $('#follow_response').html(data.message);
                    };#}
                    xhr.send(params);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                               location.reload();                        
                        }
                    };
                });
                
                //Añadir a favoritos
                $(document).on('click', "#favorite_chef", function () {
                    var url = window.location.origin + '/wp-content/themes/chefSociety/extension.php';
                    var user_adding = {{current_user.data.ID}};
                    var user_favorite = {{post.post_author}};

                    xhr = new XMLHttpRequest();
                    xhr.open("POST", url, true);
                    var params ="user_adding="+user_adding+"&user_favorite="+user_favorite+"&action=favorite";

                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

{#                    xhr.onprogress = function(e){
                        var data = jQuery.parseJSON(e.currentTarget.responseText);
                        $('#favorite_response').fadeIn('slow')
                        $('#favorite_response').html(data.message);
                    };#}
                    xhr.send(params);  
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                               location.reload();                        
                        }
                    };
                });
                
                //Eliminar de favoritos
                $(document).on('click', "#unfavorite_chef", function () {
                    var url = window.location.origin + '/wp-content/themes/chefSociety/extension.php';
                    var user_adding = {{current_user.data.ID}};
                    var user_unfavorite = {{post.post_author}};

                    xhr = new XMLHttpRequest();
                    xhr.open("POST", url, true);
                    var params ="user_adding="+user_adding+"&user_unfavorite="+user_unfavorite+"&action=unfavorite";
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

{#                    xhr.onprogress = function(e){
                        var data = jQuery.parseJSON(e.currentTarget.responseText);
                        $('#favorite_response').fadeIn('slow')
                        $('#favorite_response').html(data.message);
                    };#}
                    xhr.send(params);
                    xhr.onreadystatechange = function() {
                        if (xhr.readyState === 4) {
                               location.reload();                        
                        }
                    };
                });
            });
        });
                        
        
    </script>
    {% endassets -%}
    
    {% if user_data.first_name[0] != '' %} {% set nombre = user_data.first_name[0] %} {% else %} {% set nombre = 'Nombre' %} {% endif %}
    {% if user_data._chef_city[0] != '' %} {% set ciudad = user_data._chef_city[0] %} {% else %} {% set ciudad = 'Ciudad' %} {% endif %}
    {% if user_data._chef_country[0] != '' %} {% set pais = user_data._chef_country[0] %} {% else %} {% set pais = 'País' %} {% endif %}
    {% if user_data._chef_personal_photo[0] != '' %} {% set personal_photo = function('site_url',user_data._chef_personal_photo[0]) %} {% else %} {% set personal_photo = function ('site_url','/wp-content/uploads/users/user.jpg') %} {% endif %}
    {% if user_data._chef_job[0] != '' %} {% set job = user_data._chef_job[0] %} {% else %} {% set job = 'Profesión' %} {% endif %}
    {% if user.data.user_registered != '' %} {% set since = user.data.user_registered %} {% else %} {% set since = '10/05/16' %} {% endif %}
    {% if user_data._gastronomy[0] != '' %} {% set gastronomia = user_data._gastronomy[0] %} {% else %} {% set gastronomia = 'Para mi la gastronía es...' %} {% endif %}

    {# Areas de interes #}
    {% set areas_name = [] %}
    {% if user_data._areas_interes[0] != '' and user_data._areas_interes[0] != 'null' %}        
        {% set areas_ids = user_data._areas_interes[0]|split(',') %}
        {% for area_id in areas_ids %}
            {% set term = function('get_term',area_id) %}
            {% set areas_name = areas_name|merge([term.name]) %}
        {% endfor %}
    {% else %} 
        {% set areas_name = ['Fusión', 'Local', 'Japonesa'] %}
    {% endif %}

    {% if user_data._chef_busi_name[0] != '' %} {% set business = user_data._chef_busi_name[0] %} {% else %} {% set business = 'Nombre' %} {% endif %}
    {% if user_data._chef_busi_address[0] != '' %} {% set direccion = user_data._chef_busi_address[0] %} {% else %} {% set direccion = 'Dirección' %} {% endif %}
    {% if user_data._chef_business_photo[0] != '' %} {% set business_photo = function('site_url',user_data._chef_business_photo[0]) %} {% else %} {% set business_photo = function ('site_url','/wp-content/uploads/users/logosombrero.png') %} {% endif %}
    
    {# Tipos de cocina #}
    {% set tipos_name = [] %}
    {% if user_data._tipos_cocina[0] != '' and user_data._tipos_cocina[0] != 'null' %}
        {% set tipos_ids = user_data._tipos_cocina[0]|split(',') %}
        {% for tipo_id in tipos_ids %}
            {% set term = function('get_term',tipo_id) %}
            {% set tipos_name = tipos_name|merge([term.name]) %}
        {% endfor %}
    {% else %} 
        {% set tipos_name = ['Fusión', 'Local', 'Japonesa'] %}
    {% endif %}

    {% if user_data._chef_food_price[0] != '' %} {% set food_price = user_data._chef_food_price[0] %} {% else %} {% set food_price = '10' %} {% endif %}
    {% if user_data._chef_menu_price[0] != '' %} {% set menu_price = user_data._chef_menu_price[0] %} {% else %} {% set menu_price = '10' %} {% endif %}
    
    {% if current_user_data._chef_follow[0] != '' %} {% set chef_follow = current_user_data._chef_follow[0]|json_decode %} {%endif%}
    {% if current_user_data._chef_favorite[0] != '' %} {% set chef_favorite = current_user_data._chef_favorite[0]|json_decode %} {%endif%}

    
    
    <!--sidebar user-->
    <div class="block-sidebar">
        <h4>Publicado por</h4>
        <div class="gap-10"></div>
        <div class="autor-img-box-sidebar">
            <a href="{{function ('site_url','mi-perfil/?perfil='~post.post_author)}}"><img src="{{personal_photo}}"></a>
        </div>
        <div class="text-center-sidebar">
            <h3>{{nombre}}</h3>
            <p class="small ciudad">{{ciudad}}, {{pais}}</p>
            <p class="prof">{{job}}</p>
            <p class="war">{{gastronomia}}</p>
            <p class="chs-old">En CHS desde {{since|date("d/m/y")}}</p>
            {% if current_user.data.ID != post.post_author %}
                {% if chef_follow is defined %}
                    {% if post.post_author in chef_follow %}
                        <a class="btn btn-default btn-primary" id="unfollow_chef"><i class="fa fa-plus c-w" aria-hidden="true"></i> Dejar de seguir </a>
                    {% else %}
                        <a class="btn btn-default btn-primary" id="follow_chef"><i class="fa fa-plus c-w" aria-hidden="true"></i> Seguir </a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-default btn-primary" id="follow_chef"><i class="fa fa-plus c-w" aria-hidden="true"></i> Seguir </a>                
                {% endif %}
                <p id="follow_response" class="perfil-response"></p>
                <div class="gap-20"></div>            
                {% if chef_favorite is defined %}
                    {% if post.post_author in chef_favorite %}
                        <a class="btn btn-default btn-black" id="unfavorite_chef"><i class="fa fa-heart c-w" aria-hidden="true"></i> Eliminar de favoritos </a>
                    {% else %}
                        <a class="btn btn-default btn-black" id="favorite_chef"><i class="fa fa-heart c-w" aria-hidden="true"></i> Añadir a favoritos </a>
                    {% endif %}
                {% else %}
                    <a class="btn btn-default btn-black" id="favorite_chef"><i class="fa fa-heart c-w" aria-hidden="true"></i> Añadir a favoritos </a>
                {% endif %}
                <p id="favorite_response" class="perfil-response"></p>
            {% endif %}
            <div class="gap-20"></div>
            <p>Áreas profesionales de interés:</p>
            <div class="">
                {% for area_name in areas_name %}
                <a href="#" class="tag">{{area_name}}</a>
                {% endfor %}
            </div>
        </div>
        <div class="gap-30"></div>        
    </div>
    <!--/sidebar user-->

    <!--sidebar negocio user-->
    <div class="block-sidebar">
        <h4>Negocio</h4>
        <div class="gap-10"></div>
        <div class="autor-img-box-sidebar">
            <a href="chef.php"><img src="{{business_photo}}"></a>
        </div>
        <div class="text-center-sidebar">
            <h3>{{business}}</h3>
            <p class="small ciudad">{{direccion}}</p>
            <div class="gap-20"></div>
            <p class="p-sidebar">Tipo de cocina:</p>
            <div class="">
                {% for tipo_name in tipos_name %}
                <a href="#" class="tag">{{tipo_name}}</a> 
                {% endfor %}
            </div>
            <div class="gap-20"></div>
            <p class="p-sidebar">Precio medio carta:</p>
            <p class="price-sidebar">{{food_price}}€</p>

            <p class="p-sidebar">Precio medio carta:</p>
            <p class="price-sidebar">{{menu_price}}€</p>
        </div>
        <div class="gap-30"></div>        
    </div>
    <!--/sidebar negocio user-->

    {# Recuento de Actividad #}

    
    {# Posts de recetas #}
    {% set query_parameters = {
        'posts_per_page': limit.total|default('-1'),
        'offset': limit.start|default('0'),
        'post_type': 'recipe',
        'author' : post.post_author,
        'order': sort.ordering
    } %}

    {% set posts_recetas = wordpress.call('Timber::get_posts', query_parameters) %}

    {# Posts de talleres #}
    {% set query_parameters = {
        'posts_per_page': limit.total|default('-1'),
        'offset': limit.start|default('0'),
        'post_type': 'product',
        'author' : post.post_author,
        'order': sort.ordering
    } %}

    {% set posts_talleres = wordpress.call('Timber::get_posts', query_parameters) %}
  
    {# Seguidores, favoritos y seguidos  #}
    {% set users = function ('get_users')%}
    {% set cont_seguidores = 0 %}
    {% for user_checking in users %}
        {% set user_checking_meta = function ('get_user_meta',user_checking.data.ID) %}
        {% set user_checking_following = user_checking_meta._chef_follow[0]|json_decode %}

        {% if post.post_author in user_checking_following %}
            {% set cont_seguidores = cont_seguidores + 1 %}
        {% endif %}
    {% endfor %}
    
    {% set cont_following = user_data._chef_follow[0]|json_decode|length %}
    {% set cont_favorite = user_data._chef_favorite[0]|json_decode|length %}
    
    <!--sidebar actividad user-->
    <div class="block-sidebar">
        <h4>Actividad</h4>
        <div class="gap-10"></div>
        <div class="">
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-cutlery" aria-hidden="true"></i> {{posts_recetas|length}} Recetas publicadas</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{posts_talleres|length}} Talleres publicados</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-briefcase" aria-hidden="true"></i> 111 Empleos publicados</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-bullhorn" aria-hidden="true"></i> 111 Foros iniciados</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-users" aria-hidden="true"></i> {{cont_seguidores}} Seguidores</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-user" aria-hidden="true"></i> {{cont_following}} Siguiendo</a></p>
            <p class="actividad"><a class="c-g" href="/mi-perfil/?perfil={{post.post_author}}"><i class="fa fa-heart" aria-hidden="true"></i> {{cont_favorite}} Favoritos</a></p>
        </div>
        <div class="gap-30"></div>
    </div>
    <!--/sidebar actividad user-->

    <!--sidebar tags-->
    <!--<div class="block-sidebar">
        <h4>Tags</h4>
        <div class="gap-10"></div>
        <div class="text-center-sidebar">
            <div class="">
                <a href="#" class="tag">Fusión</a> 
                <a href="#" class="tag">Local</a> 
                <a href="#" class="tag">Japonesa</a>
                <a href="#" class="tag">Japonesa</a>
                <a href="#" class="tag">Fusión</a> 
                <a href="#" class="tag">Local</a> 
            </div>
        </div>
        <div class="gap-30"></div>
    </div>-->
    <!--/sidebar tags-->

    <!--sidebar faq-->
    <div class="block-sidebar faq-sidebar">
        <h4>Preguntas frecuentes</h4>
        <div class="gap-10"></div>
        <div class="list-faq">
            <ul>
                <li id="faq-1">
                    <h5 data-uk-toggle="{target:'#faq-row-1', animation:'uk-animation-slide-bottom, uk-animation-slide-top'}" >
                        ¿Qué es Chef Society?
                        <i class="fa fa-angle-down"></i>
                    </h5>
                    <div id="faq-row-1" class="uk-hidden" style="height:auto;">
                        <p> Nace en España con proyección internacional Chefsociety, la nueva comunidad de chefs creada para los nuevos chefs. Una nueva iniciativa que reinventa este tipo de asociaciones culinarias profesionales a través de una propuesta renovada más innovadora y moderna en imagen, formato y, especialmente, contenidos. </p>
                    </div>
                </li>
                <li id="faq-2">
                    <h5 data-uk-toggle="{target:'#faq-row-2', animation:'uk-animation-slide-bottom, uk-animation-slide-top'}" >
                        ¿Qué puedes encontrar?
                        <i class="fa fa-angle-down"></i>
                    </h5>
                    <div id="faq-row-2" class="uk-hidden" style="height: auto;">
                        <p> Diferentes e interesantes propuestas con ventajas y beneficios tangibles orientadas a impulsar los intereses de sus integrantes en el área del:</p>
<p>
<strong>Conocimiento:</strong> Optimizar sus capacidades y talento a través del conocimiento; "ayudarles a ser más relevantes en su actividad profesional".<br>
<strong>Negocio:</strong> Optimizar el tráfico, la rentabilidad y la diferenciación de su negocio; "ayudarles a vender más y mejor".<br>
<strong>Personal:</strong> "facilitando el acceso al universo lifestyle".  </p>
                    </div>
                </li>
                <li id="faq-3">
                    <h5 data-uk-toggle="{target:'#faq-row-3', animation:'uk-animation-slide-bottom, uk-animation-slide-top'}" >
                        ¿Cómo hacerte socio?
                        <i class="fa fa-angle-down"></i>
                    </h5>
                    <div id="faq-row-3" class="uk-hidden" style="height: auto;">
                        <p> En apenas unos segundos, a golpe de clic y ¡absolutamente GRATIS! podrás registrarte para disfrutar de un montón de servicios. Si además quieres beneficiarte de ventajas exclusivas, podrás hacerte socio por una mínima cantidad al año.
Descubre la comunidad que te mereces en <strong>Chefsociety.net</strong> </p>
                    </div>
                </li>
                <!--<li id="faq-4">
                    <h5 data-uk-toggle="{target:'#faq-row-4', animation:'uk-animation-slide-bottom, uk-animation-slide-top'}" >
                        ¿Morbi blandit sodales odio?
                        <i class="fa fa-angle-down"></i>
                    </h5>
                    <div id="faq-row-4" class="uk-hidden" style="height: 260px;">
                        <p> Morbi blandit sodales odio, sed lobortis nunc feugiat vitae. Ut egestas dolor sit amet tortor gravida, nec fringilla risus consequat. Nam suscipit et velit sed hendrerit. Praesent volutpat ex in suscipit scelerisque. Vivamus ut mattis neque. Aenean lacinia vitae erat ac sollicitudin. </p>
                    </div>
                </li>-->
            </ul>
            <a class="read-more" href="/ayuda/">
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <div class="gap-30"></div>
{%  if is_user_logged_in %}
{% else %}
{% endif %}
{% endblock %}
